*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.logo-title {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

h2 {
  letter-spacing: -0.8px;
}

body {
  width: 375px;
  height: 2263px;
  margin: auto;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media (min-width: 992px) {
  body {
    width: 1200px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.header {
  height: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 0px rgb(184, 182, 182);
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}
.header-menu h1 {
  font-family: "Shrikhand", cursive;
}

.btn-fct {
  width: 85%;
  height: 72px;
  margin-left: 8%;
  margin-right: 6%;
  background-color: #F6F6F6;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  margin-top: 6%;
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -webkit-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -moz-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  position: relative;
}
.btn-fct span {
  position: absolute;
  top: 13%;
  left: 0;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  transform: translate(-50%, 50%);
}
.btn-fct i {
  width: 5%;
  margin-left: 35px;
  margin-right: 20px;
  color: grey;
  font-size: 18px;
}
.btn-fct:hover {
  background-color: #f2eafb;
}
.btn-fct:hover i {
  color: #9356DC;
}

.btn-search {
  width: 220px;
  height: 50px;
  border-radius: 24px;
  border: none;
  font-size: 1em;
  color: white;
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -webkit-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -moz-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
}

.section-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-search__location {
  height: 50px;
  background-color: #e9e9e9;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.section-search__location span {
  padding-right: 10%;
  font-size: 1em;
}
.section-search__info {
  height: 280px;
  text-align: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.section-search__info h2 {
  width: 70%;
  font-weight: bold;
}
.section-search__info p {
  width: 90%;
  font-size: 1.125em;
  opacity: 0.75;
  padding: 4% 0 7% 0;
}

.section-fonction {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8%;
}
.section-fonction h2 {
  width: 90%;
}

.section-restaurant {
  height: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5%;
  background-color: #F6F6F6;
}
.section-restaurant h2 {
  width: 90%;
  margin-top: 15%;
  margin-bottom: 5%;
}

.resto-card {
  width: 90%;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  margin-bottom: 5%;
  position: relative;
}
.resto-card a {
  width: 100%;
  height: 100%;
  position: absolute;
}
.resto-card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.resto-card__footer {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.resto-card__footer__txt {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.resto-card__footer__txt p {
  font-weight: 600;
  font-size: 1.125em;
}
.resto-card .heart {
  width: 50px;
  height: 50px;
}
.resto-card .heart .full-heart {
  opacity: 0;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-70%, -100%);
}
.resto-card .heart .empty-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-70%, -100%);
}
.resto-card .heart:hover {
  cursor: pointer;
}
.resto-card .heart:hover .empty-heart {
  visibility: collapse;
}
.resto-card .heart:hover .full-heart {
  opacity: 100%;
}

footer {
  background-color: #353535;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer p {
  width: 80%;
  font-size: 1.125em;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 70%;
}
footer div a {
  display: flex;
  align-items: center;
  gap: 3%;
  font-size: 1em;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
footer div a:hover {
  opacity: 0.8;
  cursor: pointer;
}
footer div a i {
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
