*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.logo-title {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

h2 {
  letter-spacing: -0.8px;
}

body {
  width: 375px;
  margin: auto;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media (min-width: 992px) {
  body {
    width: 1200px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.header {
  height: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 0px rgb(184, 182, 182);
}
.header h1 {
  margin-top: 0.8rem;
}
@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    background-color: white;
  }
}
.header-menu {
  width: 100%;
  display: flex;
  flex: 2;
  align-items: center;
  box-shadow: none;
  padding-right: 1em;
}
.header-menu h1 {
  font-family: "Shrikhand", cursive;
}
.header-menu button {
  flex: 1;
  background-color: white;
  font-size: 20px;
  padding-left: 1em;
  border: none;
}

.btn-search {
  width: 220px;
  height: 50px;
  border-radius: 24px;
  border: none;
  font-size: 1em;
  color: white;
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -webkit-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -moz-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  transition: 0.5s ease-in-out;
}
.btn-search:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 0px 7px 11px 2px rgb(147, 146, 146);
}

.btn-fct {
  width: 85%;
  height: 72px;
  margin-left: 8%;
  margin-right: 6%;
  background-color: #F5F5F5;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  margin-top: 6%;
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -webkit-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  -moz-box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  position: relative;
  transition: 0.3s ease-in-out;
}
.btn-fct span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  transform: translate(-50%, 80%);
}
.btn-fct i {
  width: 5%;
  margin-left: 35px;
  margin-right: 20px;
  color: grey;
  font-size: 18px;
}
.btn-fct:hover {
  background-color: #f2eafb;
}
.btn-fct:hover i {
  color: #9356DC;
}

.resto-card__heart .full-heart {
  opacity: 0;
  background: linear-gradient(283deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-70%, -100%);
  transition: 1.5s ease-out;
}
.resto-card__heart .empty-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-70%, -100%);
  transition: 0.5s ease-in-out;
}
.resto-card__heart:hover {
  cursor: pointer;
}
.resto-card__heart:hover .empty-heart {
  opacity: 0;
}
.resto-card__heart:hover .full-heart {
  opacity: 100%;
}
.resto-card__heart.menu__heart {
  width: 10%;
  top: 0;
  bottom: 0;
  transform: translate(80%, 0%);
}
.resto-card__heart.menu__heart .full-heart {
  transform: translate(-25%, -23%);
  font-size: 30px;
}
.resto-card__heart.menu__heart .empty-heart {
  transform: translate(-25%, -23%);
  font-size: 30px;
}

.section-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-search__location {
  height: 50px;
  background-color: #e9e9e9;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.section-search__location span {
  padding-right: 10%;
  font-size: 1em;
}
.section-search__info {
  height: 280px;
  text-align: center;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.section-search__info h2 {
  width: 70%;
  font-weight: bold;
}
.section-search__info p {
  width: 90%;
  font-size: 1.125em;
  opacity: 0.75;
  padding: 4% 0 7% 0;
}

.section-fonction {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8%;
}
.section-fonction h2 {
  width: 90%;
}

.section-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5%;
  background-color: #F5F5F5;
  padding-bottom: 3.7rem;
}
.section-restaurant h2 {
  width: 90%;
  margin-top: 15%;
  margin-bottom: 5%;
}

.resto-card {
  width: 90%;
  height: 15.6em;
  border-radius: 15px;
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.resto-card a {
  width: 100%;
  height: 100%;
  position: absolute;
}
.resto-card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.resto-card .new {
  width: 5em;
  height: 2em;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.6em;
  display: table;
  text-align: center;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #299077;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15%, 50%);
}
.resto-card .new span {
  vertical-align: middle;
  display: table-cell;
}
.resto-card__footer {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.resto-card__footer__txt {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-right: 8%;
}
.resto-card__footer__txt p {
  font-weight: 600;
  font-size: 1.125em;
}

.menu__main img {
  height: 260px;
  object-fit: cover;
}

.menu__wrapper {
  background-color: #F5F5F5;
  position: relative;
}

.menu__header {
  background-color: #F5F5F5;
  border-radius: 45px 45px 0 0;
  padding-top: 2em;
  display: flex;
  transform: translateY(-50%);
}
.menu__header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  padding-left: 1em;
}

.menu__body {
  align-items: center;
}

.menu-card {
  margin-bottom: 2em;
  position: relative;
}
.menu-card > p {
  padding-left: 1.2rem;
  margin-bottom: 1.2rem;
}
.menu-card > p::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 10%;
  height: 3px;
  top: 1.5rem;
  left: 0;
  transform: translateX(1.2rem);
}
.menu-card article {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 7px 11px 1px rgb(207, 205, 207);
  cursor: pointer;
  overflow: hidden;
  margin: 1rem;
  opacity: 0;
  animation: transition 1.5s ease-out 0.8s forwards;
}
.menu-card article:hover > .menu-card__select {
  flex: 2;
  transform: translateX(0);
  opacity: 1;
  width: 60px;
}
.menu-card article:hover > .menu-card__select > span {
  transform: rotate(360deg);
}
.menu-card__content {
  position: relative;
  max-width: 95%;
  height: 60px;
  padding: 0.56rem;
  display: flex;
  gap: 3%;
  flex: 10;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card__content p {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}
.menu-card__txt-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-card__txt-price p {
  padding-left: 0.3rem;
}
.menu-card__txt-price span {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__select {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;
  width: 0px;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: rotate(0);
}
.menu-card__select > span {
  color: white;
  transform: rotate(-90deg);
  transition: transform 0.7s ease-in-out;
}

.menu__footer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 3.7rem;
}

@keyframes transition {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  color: white;
  height: 12.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p {
  width: 80%;
  font-size: 1.125em;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 70%;
}
footer div a {
  display: flex;
  align-items: center;
  gap: 3%;
  font-size: 1em;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
footer div a:hover {
  color: #99E2D0;
  cursor: pointer;
}
footer div a i {
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
