.btn-fct {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow; 
    -moz-box-shadow: $box-shadow;
    
    & i {
        width: 5%;
        margin-left: 20px;
        margin-right: 20px;
    }

}
.btn-search {
    width: 220px;
    height: 50px;
    border-radius: 24px;
    border: none;
    font-size: $font-size-medium;
    color: white;
    background: $secondary-color;
    background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    
    }