//    Charte graphique  //
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$media-tab :768px;
$media-dsk : 992px;
$box-shadow:  5px 5px 15px 5px #000000; 

