//    Charte graphique  //
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F5F5F5;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$font-size-medium: 1em;
$font-size-medmore: 1.1250em;
$font-weight-light: 100;
$font-weight-medium: 600;
$media-tab :768px;
$media-dsk : 992px;
$box-shadow:  0px 7px 11px 1px rgba(207,205,207,1);
$box-shadow-darken:(0px 7px 11px 2px rgb(147, 146, 146)); 

