// Header //
.header {
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 8px 0px rgb(184, 182, 182); 
    & h1 {
        margin-top: 0.8rem
    }
    @media only screen and (max-width:1023px) {
       position: sticky;
       top: 0;
       background-color: white;
      
    }
    
    &-menu {
        width: 100%;  
        box-shadow: none;
        
       
        & h1 {
            font-family: $font-title; 
            flex: 3;
            margin-right: 1.5rem;
            
            
        }
        & form {
           flex: 1;
           text-align: left;
           margin-left: 1.5rem;
           
           
        }
    & button {
        
        background-color: white;
        font-size: 22px;
        border: none;
        margin-top: 0.8rem;
       
        
    }
}
}
