// Header //
.header {
  height: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  box-shadow: 0 15px 10px -15px rgba(207, 205, 207, 1);

  & h1 {
    margin-top: 0.8rem;
  }

  @media only screen and (max-width: 960px) {
    position: sticky;
    top: 0;
    background-color: white;
  }

  &-menu {
    width: 100%;
    box-shadow: none;

    & h1 {
      font-family: $font-title;
      flex: 3;
      margin-right: 1.5rem;
    }

    & form {
      flex: 1;
      text-align: left;
      margin-left: 1.5rem;
    }

    @media only screen and (min-width: 768px) {
      & h1 {
        text-align: center;
        padding-right: 1.58rem;
      }

      & form {
        flex: 0;
      }
    }

    & button {
      background-color: white;
      font-size: 22px;
      border: none;
      margin-top: 0.8rem;
      cursor: pointer;
    }
  }
}
