// section search //
.section-search {
    
    display: flex;
    
    flex-direction: column;
    width: 100%;
    &__location {
        height: 50px;
        background-color: darken(#F6F6F6,5%);
        font-weight: $font-weight-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        & span {
            padding-right: 10%;
            font-size: $font-size-medium;
        }
        
    }
    &__info {
        height: 280px;
        text-align: center;
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        
        & h2 {
            width: 70%;
            font-weight: bold;
        }
        & p {
            width: 90%;
            font-size: $font-size-medmore;
            opacity: 0.75;
            padding: 4% 0 7% 0;
        }
        
        
    }
}
.section-fonction {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        padding-right: 45%;
    }

}
.section-restaurant {
    
   height: 1000px;
   
}
.resto-card {
    width: 100%;
    
    border-radius: 10px;
    box-shadow: $box-shadow;
    & a {
        // width: 100%;
        // height: 100%;
        // display: block;
        // z-index: 1;
    }
    & img {
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
    }


}