// section search //
.section-search {
    
    display: flex;
    
    flex-direction: column;
    width: 100%;
    &__location {
        height: 50px;
        background-color: darken(#F6F6F6,5%);
        font-weight: $font-weight-medium;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        & span {
            padding-right: 10%;
            font-size: $font-size-medium;
        }
        
    }
    &__info {
        height: 280px;
        text-align: center;
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        
        & h2 {
            width: 70%;
            font-weight: bold;
        }
        & p {
            width: 90%;
            font-size: $font-size-medmore;
            opacity: 0.75;
            padding: 4% 0 7% 0;
        }
        
        
    }
}
.section-fonction {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8%;
    
    & h2 {
        width: 90%;
        
    }

}
.section-restaurant {
    
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: .5%;
   background-color: $background-color;
   & h2 {
    width: 90%;
    margin-top: 15%;
    margin-bottom: 5%;

   }

}
.resto-card {
    width: 90%;
    height: 15.6em;
    border-radius: 15px;
    box-shadow: $box-shadow;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    &  a {
        width: 100%;
        height: 100%;
        position: absolute; 
    }
    
    & img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 70%;
        object-fit: cover;
        
    }
    & .new {
        width: 5em;
        height: 2em;
        font-weight: bold;
        font-size: 0.8em;
        padding: 0.6em;
        display: table;
        text-align: center;
        border-radius: 3px;
        background-color: $tertiary-color;
        color: darken($tertiary-color,38%);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-15% ,50%);
        & span {
            vertical-align: middle;
            display: table-cell;
        }
        
    }
    &__footer {
        height: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 0 0 15px 15px;
        &__txt {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            
            & p {
                font-weight: $font-weight-medium;
                font-size: $font-size-medmore;
            }
            
        }
       
    }
    // &__heart {
    //     // width: 50px;
    //     // height: 50px;
    //     & .full-heart {
    //         opacity: 0;
    //         background: linear-gradient(283deg, $secondary-color 0%, $primary-color 100%);
    //         -webkit-background-clip: text;
    //         -webkit-text-fill-color: transparent;
    //         position: absolute;
    //         bottom: 0;
    //         right: 0;
    //         transform: translate(-70%, -100%);
    //         transition: 1.5s ease-out;

    //         }
    //     & .empty-heart {
    
    //         position: absolute;
    //         bottom: 0;
    //         right: 0;
    //         transform: translate(-70%, -100%);
    //         transition: 0.5s ease-in-out;
    
    //     }   
    //     &:hover {
    //         cursor: pointer;
    //         & .empty-heart {
    //             opacity: 0;
    //         }
    //         & .full-heart {
    //             opacity: 100%;
    //         }
    //     }
    // }
    
    
     
}
